* {
	font-family: 'Lato', sans-serif;
	color: #444444;
	line-height: 1.5em;
	padding-left: 10px;
}

h1 {
	color: #E02430;
}

.date {
	color: #cccccc;
}

h3, p {
	color: black;
}

.nav-bar a {
	color: #dddddd;
	text-decoration: underline;
	padding: 5px;
}

.nav-bar a:hover {
	color: black;
}

.red-link {
	color: #DD0000;
	text-decoration: none;
	font-weight: bold;
	text-align: right;
}

.column {
	width: 900px;
	border-bottom: thin solid #cccccc; 
}

.align-right {
	text-align: right;
}

hr {
	color: #dddddd;
}

a:hover {
	color: #aa0000;
}

.nav-bar2 a {
	color: #DD0000;
	text-decoration: none;
}

#copyright {
	color: #bbbbbb;
}