.col-1-1 {
	background-color: grey;
	padding: 60px;
}

.col-9-12 {
	background-color: blue;
	padding: 60px;
}

.col-3-12 {
	background-color: grey;
	padding: 60px;
}

.box {
	width: 80%;
	background-color: blue;
}

.middle {
	height: 400px;
}

